
{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Inscription{% endblock %}


{% block body %}

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

	<a class="navbar-brand mr-1" href="dashboard">Task Manager </a>

	<!-- Navbar -->
	<ul class="navbar-nav ml-auto ml-md-0">
	  <a href="connexion" class="btn btn-secondary pull-right">Sign-In</a>
	</ul>
</nav>

<div id="contentPage">
	<div id="centered-bloc" class="col-md-4">
		<h1>Inscription sur le site ! </h1>
		{{ form_start(form) }}

			{{ form_row(form.username, {'label': 'Utilisateur', 'attr' : {'placeholder' : 'Nom d\'utilisateur', 'data-row-class': 'form-group'}}) }}
			{{ form_row(form.email, {'label': 'Email', 'attr' : {'placeholder' : 'pierre.dupont@email.com'}}) }}
			<div class="form-group">
				<label for="pass">Mot de passe</label>
				{{ form_errors(form.passwd) }}
				<div class="input-group">
					{{ form_widget(form.passwd, {'label' : false, 'attr' : {'placeholder' : '*******', 'class' : 'pwd1' }, 'id' : 'pass', }) }}
					<span class="input-group-append">
			        	<button class="btn btn-outline-secondary reveal" data-int="1" type="button"><i class="fas fa-eye"></i></button>
			        </span> 
				</div>
				<span id="passstrength" class=""></span> 
			</div>

		<button type="submit" class="btn btn-success"> S'inscrire ! </button>
		{{ form_end(form) }}

		<p>Déjà un compte ? <a href="connexion">Connectez-vous</a></p>
	</div>
</div>
{% endblock %}
