{% include 'alert.html.twig' %}

 <!-- Content Starts -->
<div class="ui-content container">
  <div class="conteneurProjet">

    <!-- Header du projet -->
    <div class="projectHeader">
      <div class="inline">
        <h1>{{ projet.libelle }} </h1><a class="modifyLink" href="#"><i class="fas fa-pen"></i></a>
      </div>
        {% if app.user is same as(projet.fkOwner) %}        <!-- Vérifie si la personne connecté est le propiétaire de la table-->
         <h6>Vous êtes le propriétaire de ce tableau</h6>
       {% endif %}
    </div>
    <!-- Fin de Header du projet -->

    <!-- TeamMembers du projet -->
    <div class="row teamMember">
      <p> 35 personnes travaillent sur ce projet  :  </p>
      <div class="ui-image">
        <img src="{{ asset('images/profil/man.png') }}" alt="Profile Picture" class="img-responsive" width="30" height="30">
      </div>
    </div>
    <!-- Fin des TeamMembers du projet -->

    <!-- Ajout de table -->
    {% if app.user is same as(projet.fkOwner) %}   
    <div class="row adderTable flex-row-reverse">
      <button class="btn btn-primary" data-toggle="modal" data-target="#modaleAjoutTableau">
          <i class="fas fa-plus"></i>
        </button>
        <h4 class="align-middle">Ajouter un nouveau Tableau </h4>   
    </div>
    {% endif %}
    <!-- Fin d'Ajout de table -->

    <!-- Affichage des cartes de projets -->
    {% for table in tableaux%}
      <div class="row tableauxProject card">

        <div class="card-header tableHeader">
          <h3>{{ table.libelle }}</h3>
        </div>

        <div class="statsTableau card-body">
          <ul>
            <li><i class="fas fa-running"></i> 3 Sprints</li>
            <li><i class="fas fa-tasks"></i> 5 tâche(s) non affectée(s)</li>
            <li><i class="fas fa-user-friends"></i> 6 collaborateurs participent</li>
          </ul>

          <div class="col-md-12">
            <button id="delete-btn" type="button" class="btn btn-danger float-right" modale-name="#deleteTable" data-page="deleteTableau/{{ table.id }}" data-toggle="modal" data-target="#deleteTable">Supprimer le tableau</button>
            <a class="btn btn-primary float-right insideLiks" href="viewTableau/{{ table.id }}" style="margin: 0 1em ;">Voir le tableau</a>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- FIN d'Affichage des cartes de projets -->

  </div>
</div>

<!-- ############################ Fenêtres Modales de création / Modifications ################################ -->

<!-- Fenêtre modale d'ajout de nouveau tableau -->
<div id="modaleAjoutTableau" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nouveau Tableau</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="libelleTableau">Nom du tableau</label>
          <input type="text" maxlength="50" class="form-control data-input" id="libelleTableau" name="libelleTableau" placeholder="Table name">
        </div>
        <input type="hidden" class="data-input" name="fkProjet" value="{{ projet.id }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modalAdder" modale-name="#modaleAjoutTableau" data-page="viewProjet/{{ projet.id }}" href="addTable">Créer le tableau</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<!-- Fenêtre modale de supression d'un tableau -->
<div id="deleteTable" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Supprimer le Tableau ?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Attention,cette action supprimera définitivement le tableau. Voulez vous continuer ? </p>
      </div>
      <div class="modal-footer">
        <a id="delete-final" type="button" class="btn btn-danger" modale-name="#deleteTable" href="">Supprimer le Tableau</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#delete-btn').click(function(){
      $('#delete-final').attr('href', $(this).attr('data-page'));
    });

    
  });

  

  
</script>



